h1 {
	text-align: left;
	color: limegreen;
	
}

body {
	background-color: white;
}

/* canvas {
	background-color: dimgrey;
	width: 600;
	height: 450;
	border: 1px solid;
	margin-top: 100px;
	/* margin-left: auto;
	margin-right: auto; 
} 
*/
#gameOver {
	margin: auto;
	width: 30%;
	margin-top: 50px;
}
